# Ignore patterns

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.idea/
*.sc
.scala_dependencies
.worksheet

# Project specific
config/config.json
